body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main{flex-grow: 1;
  background-image: url(.//ring.jpg);
  background-size: cover;
}

img{
  height: 200px;
  width: 250px;
  border-radius: 50%;
}
